@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,500&display=swap');

.light{
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf; 
    --backgroundColor: white;
    --darkOne: #312f37;
    --darkTwo: #45424b;
    --lightOne:#919191;
    --lightTwo:rgb(45, 65, 62);
}

.dark{
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf; 
    --backgroundColor: #192e3a;
    --darkOne: #312f37;
    --darkTwo: #45424b;
    --lightOne:#919191;
    --lightTwo: #aaa;
}

*,
*::before,
*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
} 


body{
    font-family: "Poppins", sans-serif;
    padding: 25px;  
  }

  .stop-scrolling{
    height: 100%;
    overflow: hidden;
  }
    

img{
    width: 100%;
}

a{
    text-decoration: none;
}

.big-wrapper{
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content:space-between

}

.container{
    position:relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}



header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
display: flex;
align-items: center;
cursor: pointer;
}

.logo img{
    width: 70px;
    margin-right: 0.5rem;
    margin-top: 0.6rem;
}

.logo h2{
    color:#2b353b;
    font-size: 1.56rem;
    line-height: 1.2;
    font-weight: 700;
}


.links ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.links a {
    color: var(--lightTwo);
    margin-left: 3rem;
    display: inline-block;
    transition: 0.3s;
}

.links a:hover{
    color: var(--hoverColor);
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    padding: 0.2rem 1.1rem;
    color: white !important;
    background-color: var(--hoverColor);
    border-radius: 12px;
    text-transform: capitalize;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--hoverColor)
    
}


.showcase-area .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.big-title {
font-size: 1.3rem;
color: var(--darkOne);
text-transform:capitalize;
line-height: 1.3;
}

.text {
    color: var(--lightOne);
    font-size: 1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 500px;
    line-height: 2;
}

.showcase-area.btn{
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.pay {
    width: 90%;
    transform: translate(15%, 2px);
}

.toggle-btn{
    display: inline-block;
    border: none;
    background-color: var(--darkTwo);
    color: var(--backgroundColor);
    outline: none;
    cursor: pointer;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: 0.3s;
}

.toggle-btn i{
    line-height: 39px ;
}


.toggle-btn:hover{
    background: var(--hoverColor);
}

.big-wrapper.light .toggle-btn i:last-child {
    display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
    display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
    display: block;
}

.big-wrapper.dark .toggle-btn i:first-child {
    display: none;
}

.shape{
    position: absolute;
    z-index: 0;
    width: 450px;
    bottom: -170px;
    left: -15px;
    opacity: 0.1;
}

.copy{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    animation: pop 1s 1 both;
}
/* @keyframes pop{
    0%{
        clip-path: cirlcle(30% at -25% -25%);
    }
    100%{
        clip-path:cirlce(150% at 0 0 );
    }
}

@media screen and (max-width:870px){
   .showcase-area .container{
    grid-template-columns: 1fr;
   }
} */

.pay{
    width: 100%;
    transform: none;
}