@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,500&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: rgb(88, 168, 243);
    padding: 50px;
   }
   
   .payment {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
   }
   
   .payment h1 {
    text-align: center;
    margin-bottom: 20px;
   }
   
   .form-row {
    margin-bottom: 15px;
   }
   
   .form-row label {
    display: block;
    margin-bottom: 5px;
   }
   
   .form-row input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
   }
   
   .form-row input[type="button"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
   }